
//
// VARIABLES
//

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "sans-serif", Helvetica Neue, Helvetica, Arial;
$georgia: Georgia, serif;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
