<div class="main" role="main">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">

        <!-- Marketing -->
        <div class="marketing">
          <div class="app-meta">
            {% if site.enable.app_icon %}
              <img
                class="app-icon"
                style="min-width: 92px;"
                height="auto"
                {% if site.app.icon %} src="{{ site.app.icon }}"{% endif %}
              />
            {% endif %}
            <span class="app-name">{{ site.app.name }}</span>
          </div>

          {% if site.marketing_header %}
          <h2 class="marketing-header">{{ site.marketing_header }} </h2>
          {% endif %}

          <p class="marketing-desc">{{ site.marketing_desc }}<br>Does your club's event have leftovers or food giveaways?<br>Take a pic and post it on the app.<br>All users nearby get a notification.</p>
          <p><b>Download Now!</b></p>
          <div class="download-buttons">
            <a
              class="download-btn btn btn-lg"
              href="https://itunes.apple.com/app/id{{ site.app.ios_id }}?mt=8&at={% include apple-affiliate.html %}">
              <i class="fa fa-apple fa-lg" aria-hidden="true"></i> App Store
            </a>

            {% if site.app.android_id %}
            <a
              class="download-btn btn btn-lg"
              href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">
              <i class="fa fa-android fa-lg" aria-hidden="true"></i> Google Play
            </a>
            {% endif %}
          </div>
        </div>
      </div>


      <div class="col-sm-6">

        <!-- App Screenshot(s) -->
        <div class="device {{ site.device }}">
          <a href="http://onelink.to/feedshare">
          <img
            class="app-screenshot"
            {% if site.app.screenshot %}src="{{ site.app.screenshot }}"{% endif %}
          />
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
               
        <p><a href="https://www.dropbox.com/s/is4mzhdyu6rkl85/FeedShare%20pounds%20of%20food%20saved.xlsx?dl=0">Our <b>Users</b> have saved <b>3910.00 Lbs</b> of food (last counted on: Sep 26 2017).</a></p>
        <p>FeedShare's in beta, if you find bugs, please contact us: </p>
          <p>   {% include social.html %}
          <!--Trying facebook message -->
            <!--  <div id="widget" style=" display: inline-block; overflow: hidden; height: auto; min-width: 100px; text-align: center; line-height: normal; white-space: nowrap; vertical-align: middle;">                <a target="_blank" href="http://m.me/feedshareapp" style="margin-top: 5px; display: inline-block; width: 47px; height: 47px; background: url('https://assets.modernapp.co/assets/images/facebook-message-button-icon-round2x.png') no-repeat; background-size: 47px 47px;">        </a>    </div>
              <script async defer src="https://assets.modernapp.co/assets/js/embed.js"></script> -->
          </p>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <!-- footer text here -->
  </div>
</div>
