<div class="main" role="main">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">

        <!-- Marketing -->
        <div class="marketing">
          <div class="app-meta">
            {% if site.enable.app_icon %}
              <img
                class="app-icon"
                style="min-width: 92px;"
                height="auto"
                {% if site.app.icon %} src="{{ site.app.icon }}"{% endif %}
              />
            {% endif %}
            <span class="app-name">{{ site.app.name }}</span>
          </div>

          {% if site.marketing_header %}
          <h2 class="marketing-header">{{ site.marketing_header }} </h2>
          {% endif %}

          <p class="marketing-desc">{{ site.marketing_desc }}<br>A user sees an event with food giveaways/leftovers.<br>They take a pic and posts the location on the feed.<br>All users nearby get a notification.<br><br>You don't have to be the event organizer, <b><i>anyone</i></b> can post!</p>
          <div class="download-buttons">
            <a
              class="download-btn btn btn-lg"
              href="https://itunes.apple.com/app/id{{ site.app.ios_id }}?mt=8&at={% include apple-affiliate.html %}">
              <i class="fa fa-apple fa-lg" aria-hidden="true"></i> App Store
            </a>

            {% if site.app.android_id %}
            <a
              class="download-btn btn btn-lg"
              href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">
              <i class="fa fa-android fa-lg" aria-hidden="true"></i> Google Play
            </a>
            {% endif %}
          </div>
        </div>
      </div>


      <div class="col-sm-6">

        <!-- App Screenshot(s) -->
        <div class="device {{ site.device }}">
          <img
            class="app-screenshot"
            {% if site.app.screenshot %}src="{{ site.app.screenshot }}"{% endif %}
          />
        </div>
      </div>
    </div>

  </div>
</div>

<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        
        
        <p><a href="http://content.screencast.com/users/yofu1234/folders/Jing/media/96cb54df-42ed-41a8-9afa-6202ef918d65/lbs%20of%20food%20saved%20july%2014.png">We've saved <b>914.92 Lbs</b> of food (as of July 14).</a></p></p>
        <p>FeedShare's in beta, if you find bugs, please contact us: </p>
          <p>   {% include social.html %}
          <!--Trying facebook message -->
          <div id="widget" style="display: inline-block; overflow: hidden; text-align: left; white-space: nowrap;">
            <a target="_blank" href="http://m.me/feedshareapp/" style="min-width: 90px;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border: 1px solid #d5d5d5;padding: 6px 6px 6px 0;text-decoration: none; text-shadow: none;margin: 0;display: block;color: #575757;line-height: 24px;font-size: 14px;font-weight: normal;padding-left: 36px; background: url('https://assets.modernapp.co/assets/images/facebook-message-button-icon2x.png') no-repeat 5px 6px;background-color: #fff !important; background-size: 23px 23px;">Message</a>
            </div><script async defer src="https://assets.modernapp.co/assets/js/embed.js"></script>
          </p>
        <p>  We will reward you with love.</p>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <!-- footer text here -->
  </div>
</div>
